h1 {
	text-align: center;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #007bff;
}

#main-game-links {
	display: table;
	margin: 2em auto 0 auto;
	max-width: 40em;
}

img {
	min-width: 35%;
	max-width: 35%;
}

footer {
	text-align: center;
	margin-top: 3em;
}