h1 {
	text-align: center;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #007bff;
}

a.button {
    margin-left: 9em;
    text-decoration: none;
    color: initial;
}

.register-top {
	margin-top: 1em;
}

.clear {
	clear: both;
}

.create {
	margin-left: 10.9em;
}

.main-game-links {
	display: table;
	margin: 0 auto;
	max-width: 40em;	
}

img {
	max-width: 100%;
}