#regform-heading {
	margin-top: 7em;
	text-align: right;
}

#changepwd-heading {
	margin-top: 5em;
	text-align: right;
}

#login-question {
	text-align: right;
}

#logged-player {
	text-align: right;
}

.float-element {
	max-width: 80%;
}

.float-button {
	float: right;
	max-width: 30%;
}

#register-top {
	margin-top: 1em;
}

#register-button {
	margin-right: 4.2em;
}

#create-button {
	margin-right: 1.75em;
}

#change-button {
	margin-right: 1.75em;
}

.anchor-button {
	color: white;
}

.anchor-button:active {
	color: white;
}

.anchor-button:hover {
	color: white; 
}


.anchor-button:visited {
	color: white;
}

#message {
	font-size: 0.8em;
	margin-top: 15em;
	text-align: right;
}