h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0.5em;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #007bff;
}

a.button {
	display: block;
	text-align: center;
	text-decoration: none;
	color: initial;
}

button {
	cursor: pointer;
}

.minesweeper-row {
	display: flex;
	flex-direction: row;
}

.minesweeper-column {
	display: flex;
	flex-direction: column;
	max-width: 1.5em
}

img {
	max-width: 100%;
}

textarea {
	max-width: 77%;
}

.game-field-container {
	line-height: 1em;
	display: table;
	margin: 0 auto;
	background-color: #B9B9B9;
	margin: 0 auto;
}

.minesweeper-infobar {
	display: flex;
	justify-content: space-between;
}

.center {
	display: flex;
}

#timer {
	display: flex;
}

#mine-count {
	display: flex;
}

#smile-icon {
	padding: 0;
	max-width: 2em;
	background-color: #B9B9B9;
}