@font-face {
	font-family: 'digital-7 mono';
	src: url('/css/fonts/digital-7 (mono).ttf');
}

h1, h3 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0.5em;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #007bff;
}

.minesweeper-row {
	display: flex;
	flex-direction: row;
}

.minesweeper-column {
	display: flex;
	flex-direction: column;
	max-width: 1.5em
}

img {
	max-width: 100%;
}

textarea {
	max-width: 77%;
}

.game-field-container {
	line-height: 1em;
	display: table;
	margin: 0 auto;
	background-color: #B9B9B9;
	margin: 0 auto;
}

.border-outset {
	border: 0.25em outset #B9B9B9;
}

.border-solid {
	border: 0.25em solid #B9B9B9;
}

.border-inset {
	border: 0.25em inset #B9B9B9;
}

.minesweeper-infobar {
	display: flex;
	justify-content: space-between;
}

.center {
	display: flex;
}

.info {
	display: flex;
	color: red;
	background-color: black;
	font-family: 'digital-7 mono';
	line-height: 1.5em;
	font-size: 1.5em;
	max-width: 1.5em;
}

.center a {
	text-decoration: none;
	display: block;
}

#smile-icon {
	display: inline-block;
	padding: 0;
	margin: 0;
	background-color: #B9B9B9;
	color: #B9B9B9;
	border: 0.20em outset #B9B9B9;
	max-width: 2.15em;
}

#smile-icon:active {
	border: 0.20em inset #B9B9B9;
}

#smile-icon:hover {
	color: #B9B9B9;
}

.mine {
	background-color: red;
}

.revealed {
	background-color: #B9B9B9;
}

.comment {
	max-width: 100%;
}

.comment-content {
	max-width: 100%;
	text-align: justify;
	overflow: auto;
}

.comment-username {
	max-width: 100%;
}

#comments-heading {
	margin-top: 1em;
}

#navigation {
	text-align: right;
}

footer {
	text-align: center;
	margin-top: 3em;
}