.pairs-row {
	display: flex;
	flex-direction: row;
}

.pairs-column {
	display: flex;
	flex-direction: column;
	width: 8em
}

textarea {
	max-width: 77%;
}

.tile {
	cursor: pointer;
}

.paired {
	text-align: center;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

img {
	width: 100%;
}