h1, h3 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0.5em;
}

a {
	text-align: center;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #007bff;
}

.pairs-row {
	display: flex;
	flex-direction: row;
}

.pairs-column {
	display: flex;
	flex-direction: column;
	width: 8em
}

img {
	width: 100%;
}

textarea {
	max-width: 77%;
}

.tile {
	cursor: pointer;
}

.paired {
	text-align: center;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.comment {
	max-width: 100%;
}

.comment-content {
	max-width: 100%;
	text-align: justify;
	overflow: auto;
}

.comment-username {
	max-width: 100%;
}

#comments-heading {
	margin-top: 1em;
}

#navigation {
	text-align: right;
}

footer {
	text-align: center;
	margin-top: 3em;
}