<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Gamestudio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Welcome to Game studio!</h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-12">
				<div th:if="${not @mainController.logged}">
					<p class="float-right">Not logged in?</p>
					<form action="/login">
						<div>
							<label class="float-right">Username: <input type="text"
								name="name" /></label> <label class="float-right">Password: <input
								type="password" name="passwd" /></label>
						</div>
						<div class="float-left">
							<a href="/registerform" class="button"><button type="button">Register</button></a>
						</div>
						<div class="float-right">
							<button type="submit">Login</button>
						</div>
					</form>
					<div th:if="${@mainController.registerFormVisible}">
						<form action="/registernewplayer">
							<div class="float-right">
								<label class="float-right register-top">New username: <input type="text"
									name="userName" /></label> <label class="float-right">Password: <input
									type="password" name="passwd" /></label>
							</div>
							<div class="clear">
								<button type="submit" class="create">Create new player</button>
							</div>
						</form>
					</div>
				</div>
				<div th:if="${@mainController.logged}">
					You are logged as <span
						th:text="${@mainController.loggedPlayer.name}"></span> <a
						href="/logout">Logout</a><br />
				</div>
			</div>
			<div class="col-md-8 col-12">
				<a href="/guessthenumber">Guess the number</a><br />
				<a href="/puzzle">Puzzle</a><br />
				<a href="/minesweeper">Minesweeper</a>
			</div>
		</div>
	</div>
</body>
</html>