<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Game studio - Minesweeper</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/fragments.css" />
<link rel="stylesheet" href="/css/minesweeper.css" />
<link rel="stylesheet" href="/css/login-side.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<header>
					<h1>Gamestudio</h1>
					<hr>
					<h2>Minesweeper</h2>
					<h3>
						<a href="/minesweeper">New game</a>
					</h3>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-12">
				<nav th:replace="fragments :: navigation('minesweeper')"></nav>
				<aside th:replace="fragments :: login-side('minesweeper')"></aside>
			</div>
			<div class="col-md-6 col-12">
				<main>
					<div class="game-field-container">
						<div class="border-outset">
							<div class="border-solid">
								<div class="border-inset">
									<div class="minesweeper-infobar">
										<div class="info"
											th:text="${@minesweeperController.mineCount}"></div>
										<div class="center">
											<a href="/minesweeper" id="smile-icon"> <span
												th:switch="${@minesweeperController.GameState}"> <span
													th:case="'solved'"> <img
														src="/img/minesweeper/won.png" alt="Win smile icon." />
												</span> <span th:case="'failed'"> <img
														src="/img/minesweeper/lost.png" alt="Lost smile icon." />
												</span> <span th:case="'playing'"> <img
														src="/img/minesweeper/smile.png" alt="Playing smile icon." />
												</span>
											</span>
											</a>
										</div>
										<div class="info" th:text="${@minesweeperController.seconds}"></div>
									</div>
									<div th:utext="${@minesweeperController.HtmlField}"></div>
								</div>
							</div>
						</div>
					</div>
					<div th:replace="fragments :: comments('minesweeper')"></div>
				</main>
			</div>
			<div class="col-md-3 col-12">
				<aside th:replace="fragments :: score-side(minesweeper)"></aside>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<footer th:replace="fragments :: footer"> </footer>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="\/js\/jquery.min.js"><\/script>');
	</script>
	<script src="/js/minesweeper.js"></script>
</body>
</html>