<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Game studio - Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/puzzle.css" />
<link rel="stylesheet" href="/css/login-side.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<header>
					<h1>Gamestudio</h1>
					<hr>
					<h2>Puzzle</h2>
					<h3>
						<a href="/puzzle">New game</a>
					</h3>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-12">
				<nav th:replace="fragments :: navigation('puzzle')"></nav>
				<aside th:replace="fragments :: login-side('puzzle')"></aside>
			</div>
			<div class="col-md-6 col-12">
				<main>
					<div th:utext="${@puzzleController.HtmlField}"></div>
					<div th:replace="fragments :: comments('puzzle')"></div>
				</main>
			</div>
			<div class="col-md-3 col-12">
				<aside th:replace="fragments :: score-side(puzzle)"></aside>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<footer th:replace="fragments :: footer"> </footer>
			</div>
		</div>
	</div>
</body>
</html>